<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--spring 总配置文件 -->
    <!--同意加载所有的properties文件-->
    <context:property-placeholder location="classpath:properties/*.properties"/>

    <!--引入所有的spring配置文件-->
    <import resource="classpath:spring/spring-*.xml"/>


</beans>